@model IEnumerable<PCForum.Models.Comment>

@{
    ViewData["Title"] = "Comments";
}

<h1>Comments</h1>

<!-- Back to GetDiscussion Button -->
<a asp-controller="Home" asp-action="GetDiscussion" asp-route-id="@ViewBag.DiscussionId" class="btn btn-secondary mb-3">
    Back to Discussion
</a>

<p>
    <a asp-controller="Comments" asp-action="Create" asp-route-discussionId="@ViewBag.DiscussionId" class="btn btn-primary">Add New Comment</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Content)</td>
                <td>@item.CreateDate.ToString("g")</td>
            </tr>
        }
    </tbody>
</table>
